*
{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:inherit;
}

.clr
{
    clear: both;
}


i
{
    color:red;
}

body
{
    font-family: Arial;
    font-size: 13px;
    background-color: white;
}

hr
{

}





.left
{
    float:left;
}

.right
{
    float:right;
}

.center
{
    text-align: center;
}

div.center-wrapper
{
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

.error
{
    color:red;
}


a.btn-s
{
    background-position:center;
    background-repeat: no-repeat;
    color: white;
    display: block;
    font-weight: 600;
    height: 37px;
    line-height: 37px;
    float: left;
    text-align: center;
}

a.btn-s span
{

}

a.btnRound
{
    background-position: center;
    background-repeat: no-repeat;
    height: 38px;
    color:#2889B7;
    line-height: 35px;
    font-weight: 600;
    width:172px;
    float: left;
    text-align: center;
    background-image: url('../images/btn_round.png');
    margin: 10px 0;
}

a.btnRound:hover
{

}


a.btnSubmit{
    background-position: center;
    background-repeat: no-repeat;
    height: 38px;
    color:white;
    line-height: 35px;
    font-weight: 600;
    width:129px;
    float: left;
    text-align: center;
    background-image: url('../images/btnSubmit.gif');
}

a.btnCancel
{    background-position: center;
     background-repeat: no-repeat;
     height: 38px;
     color:white;
     line-height: 35px;
     font-weight: 600;
     width:87px;
     float: left;
     text-align: center;
     background-image: url('../images/btnCancel.gif');
     display:block;
}

a.btnSubmit:hover
{
    border: none;
}

a.btnCancel:hover
{
    border: none;
}

a.back2top
{
    display: block;
    float: right;
    border-bottom: 1px dotted #5c98cd;
    color:#5c98cd;

    background-image: url('../images/back2top.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
    margin-top:30px;
    font-weight: 600;
}

a.back2top:hover
{
    background-color: #f7f7f7;
}

/*
    HEADER
*/
div#header-bg
{
    width: 100%;
    height:135px;
    background-image: url('../images/header_bg.jpg');
    background-repeat: repeat-x;
    background-position: top center;
    background-color: #E8E8E8;
    border-bottom: 1px solid #B3B3B3;
}

a#logo
{
    display:block;
    width: 197px;
    height: 87px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-top:25px;
}

div#phone
{
    width: 273px;
    height: 91px;
    background-image: url('../images/mobi.png');
    background-position: top left;
    background-repeat: no-repeat;
    margin-top:35px;
    margin-left:167px;
}

a#lnkTelEn
{
    display: block;
    width:190px;
    height: 36px;
    background-image: url('../images/tel_en.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 57px;
}

a#lnkTelNum
{
    display: block;
    width:190px;
    height: 36px;
    background-image: url('../images/tel_num.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 57px;
}


div#search-n-btns
{
    width:276px;
    height: 95px;
    padding-top:30px;
}

div#search-wrapper
{

}

div#tbSearch-bg
{
    width:189px;
    height: 33px;
    background-image: url('../images/search_txt.png');
    background-position: center;
    background-repeat: no-repeat;
}

input#tbSearch
{
    float: left;
    margin-left: 7px;
    margin-top: 7px;
    width: 170px;
    border: none;
}

a#btnSearch
{
    display: block;
    width:69px;
    height: 33px;
    background-image: url('../images/search_btn.png');
    background-position: center;
    background-repeat: no-repeat;

}

div#btns-wrapper
{
    margin-top: 10px;
    height: 30px;
}

a#btnHome
{
    background-image: url('../images/btnHome-s.png');
    width: 59px;

}

a#btnWhatsNew
{
    background-image: url('../images/btnWhatsNew-s.png');
    width: 97px;
}

a#btnContact
{
    background-image: url('../images/ddl_small.png');
    width: 111px;
}


div#contact-list
{
    background-color: #EDF0F1;
    border: 1px solid black;
    float: right;
    margin-right: 10px;
    position: relative;
    top: -5px;
    width: 102px;
}

div#contact-list ul li
{
    list-style: none;
}


div#contact-list ul li a
{
    display: block;
}



a#btnContact span
{
    padding-right: 13px;
}


/* VIDEO */

div#video-bg
{
    height: 370px;
    background-image: url('../images/home_banner_bg.jpg');
    background-position: center;
    background-repeat: repeat-x;
    border-bottom: 1px solid white;
    float: left;
    width: 100%;
}

div#video-bg-lv2
{
    height: 370px;
    background-image: url('../images/home_banner_lv2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

div#video-intro
{

}

div#video-wrapper
{
    width: 570px;
    height: 326px;
    background-image: url('../images/home_video_border.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top:20px;
}

div#video-position
{
    width:100%;
    margin:6px;
    height:100%;
}

div#intro
{
    width: 344px;
    margin-right: 13px;
    color: white;
    margin-top: 63px;
}

div#intro h1
{

}

div#intro p
{
    padding:10px 0;
}

a#btnQuote
{
    display:block;
    width:203px;
    height: 56px;
    background-image: url('../images/btn_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 56px;
    float: left;
}

div#intro span.or
{
    display: block;
    float: left;
    padding:0 10px;
    color: #9FCDE3;
    line-height: 56px;
}

a#lnkFindMore
{
    display: block;
    text-decoration: underline;
    color: white;
    float: left;
    font-size: 15px;
    line-height: 56px;
    font-weight: 600;
}


/*MAIN BODY - HOME*/
div#main-bg
{
    background-image: url('../images/home_bg.jpg');
    background-position: top;
    background-repeat: repeat-x;
    min-height: 138px;
    width: 100%;
    float: left;
    padding-bottom: 30px;
}

div#home-wrapper, div#inner-wrapper
{
    padding: 27px 0 50px 0;
}

div#home-left
{
    width:624px;
}

div#prd-services
{
    width:100%;
}


div#home-wrapper h1
{
    color:#117CBD;
    padding:10px 0;
}


div#home-wrapper div.block
{
    clear:both;
    padding:11px 0;
}

div#home-wrapper div.block h2
{
    padding:5px 0;
    color:#647898;
}


div#home-wrapper div.block div.home-img
{

}

div#home-wrapper div.block div.home-img img
{
    border:1px solid #D9E0E6;
    padding:2px;
    width:149px;
    height: 97px;
}


div#home-wrapper div.block div.home-desc
{
    width:448px;
}

div#home-wrapper div.block div.home-desc p
{
    padding:5px 0;
}

div#biz-op
{
    padding-top:30px;
}


div#biz-op h1
{
    color:#67AB4B;
    padding:10px 0;

}

a.lnkMore
{
    color:#4C7CB5;
    font-weight: 600;
}

a.lnkMore:hover
{
    border-bottom: 1px dotted;
}


div#home-right
{
    width:280px;
}

div#why-inner-bath-wrapper
{
    float: left;
    padding-bottom: 25px;
    width:277px;
}


div#why-inner-bath-wrapper div.top
{
    width:100%;
    height: 25px;
    float:left;
    background-image: url('../images/side_box_top.png');
    background-position: center;
    background-repeat: no-repeat;

}

div#why-inner-bath-wrapper div.main
{
    width:100%;
    float:left;
    background-image: url('../images/side_box_main.png');
    background-position: center;
    background-repeat: repeat-y;

}
div#why-inner-bath-wrapper div.bottom
{
    width:100%;
    float:left;
    background-image: url('../images/side_box_bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 22px;

}

div#why-inner-bath-wrapper div.main ul
{
    font-size: 17px;
}

div#why-inner-bath-wrapper div.main ul li
{
    list-style: none;
    list-style-image: url('../images/li_tick.png');
    list-style-position: inside;
    line-height: 20px;
    color: #7688A4;
    font-weight: 600;

    padding-bottom: 5px;
    margin-left: 30px;
}


div#what-s-new-wrapper
{
    width:273px;
}


div#what-s-new-wrapper div.top
{
    width:100%;
    height: 10px;
    float:left;
    background-image: url('../images/side_box_news_top.png');
    background-position: center;
    background-repeat: no-repeat;

}

div#what-s-new-wrapper div.item
{
    width:100%;
    float:left;
    background-image: url('../images/side_box_news_main.png');
    background-position: center;
    background-repeat: repeat-y;
    padding-bottom: 10px;
    border-bottom: 1px solid #E2EAF3;
}


div#what-s-new-wrapper div.item a.title
{
    background-image: url("../images/li_arrow.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #4C7CB5;
    float: left;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0 10px 0 35px;
    font-weight: 600;

}

div#what-s-new-wrapper div.item label.date
{
    margin-left: 45px;
    margin-top:2px;
    float: left
}



div#what-s-new-wrapper div.bottom
{
    width:100%;
    float:left;
    background-image: url('../images/side_box_news_show_all.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 26px;
    line-height: 26px;

}

a#lnkAllNews
{
    padding-right: 10px;
}

a#lnkAllNews:hover
{
    border-bottom: none;
}

/*FOOTER*/
div#footer-bg
{
    float: left;
    width: 100%;
    border-top:1px solid #EDF0F1;
    background-color: #F9FAFA;
    padding-top: 18px;
    color: #5E727E;
    padding-bottom: 30px;
}

div#footer-bg a
{
    color: #5E727E;
}

div#footer-bg a:hover
{
    text-decoration: underline;
}


div#footer-left
{
    width:497px;
}

div#footer-left ul
{

}

div#footer-sitemap
{
    padding-bottom: 10px;
    float: left;
}



div#footer-sitemap ul li
{
    list-style: none;
    float: left;

}


div#footer-sitemap ul li a
{
    padding:0 5px;
    display: block;
    border-right: 1px solid #5E727E;
    font-weight: 600;
}

div#footer-contact
{
    float: left;
}

div#footer-contact a.contact
{
    font-weight: 600;
}




div#footer-right
{
    width:292px;
}

div#footer-copyright
{
    float:right;
}

div#footer-seo
{
    color: #A2A3A3;
    float:right;
}

div#footer-seo a
{
    color: #A2A3A3;
}


/***** INNER Page **/




div#inner-left
{
    width:658px;
    margin-top:13px;
}

div#inner-right
{
    width:270px;
    background-image: url(../images/div_v.png);
    background-position: left center;
    background-repeat: no-repeat;

}

div#inner-left h1
{
    margin: 12px 0;
    font-size: 25px;
    color:#00a1cf;
}


div#inner-left h2
{
    margin: 12px 0;
    font-size: 16px;
    color:#67ab4b;
}


div#inner-left h3
{
    margin: 12px 0;
    font-size: 15px;
    color:#117bbc;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

div#inner-left p
{
    margin: 12px 0;

}

div#inner-left a
{
    color:#117bbc;
}

div#inner-left p img
{
    border: 2px solid #eceff3;
    padding: 2px;
}

div#inner-left a:hover
{
    border-bottom: 1px dotted;
}

div#inner-left ul li
{
    list-style: none;
    list-style-image: url('../images/li_square.jpg');
    list-style-position: inside;
    line-height: 20px;
    padding-bottom: 5px;
}


div#inner-banner-bg
{
    margin-bottom: 22px;
}


div.inner-side-bar
{
    float: right;
    padding-bottom: 25px;
    width:240px;
}

div.inner-side-bar h1
{
    font-size: 15px;
    color:#126090;
    margin-bottom: 16px;
}


div.inner-side-bar div.top
{
    width:100%;
    height: 20px;
    float:left;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/inner_side_top.jpg');
}

div.inner-gray div.top
{
    background-image: url('../images/inner_side_top_gy.jpg');
}

div.inner-light-blue div.top
{
    background-image: url('../images/inner_side_top_lb.jpg');
}

div.inner-side-bar div.main
{
    width:100%;
    float:left;
    background-image: url('../images/inner_side_main.jpg');
    background-position: center;
    background-repeat: repeat-y;
}

div.inner-side-bar div.main div.gap
{
    padding:0 17px;
}

div.inner-side-bar div.main div.gap hr
{
    margin:17px 0;
    border: none;
    background-color: #dcdfe4;
    height: 1px;
}


div.inner-gray div.main
{
    background-image: url('../images/inner_side_main_gy.jpg');
}

div.inner-light-blue div.main
{
    background-image: url('../images/inner_side_main_lb.jpg');
}

div.inner-side-bar div.main a
{
    color:#2682d1;
}

div.inner-side-bar div.main a:hover
{
    border-bottom: 1px dotted;
    padding-bottom: 2px;
}




div.inner-side-bar div.bottom
{
    width:100%;
    float:left;
    background-image: url('../images/inner_side_bottom.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;

}

div.inner-gray div.bottom
{
    background-image: url('../images/inner_side_bottom_gy.jpg');
}

div.inner-light-blue div.bottom
{
    background-image: url('../images/inner_side_bottom_lb.jpg');
}




div.inner-side-bar div.main ul
{
    font-size: 13px;
}


div.inner-light-blue div.main ul li
{
    list-style: none;
    list-style-image: url('../images/li_square.jpg');
    list-style-position: inside;
    line-height: 20px;
    color: #428b36;
    font-weight: 600;

    padding-bottom: 5px;

}

div.inner-side-bar div.main ul li
{

    list-style: none;
    list-style-image: url('../images/li_tick.png');
    list-style-position: inside;
    line-height: 20px;
    color: #444444;
    font-weight: 600;

    padding-bottom: 5px;
}

div.inner-light-blue div.main ul li
{
    list-style: none;
    list-style-image: url('../images/li_square.jpg');
    list-style-position: inside;
    line-height: 20px;
    color: #428b36;
    font-weight: 600;

    padding-bottom: 5px;

}



div.testimonial-wrapper
{
    background-image: url('../images/quote_sign.png');
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    width: 100%;
}

div.testimonial-contents
{
    padding-top: 22px;
    margin-left: 44px;
    font-style: italic;
    text-align: justify;
    font-size: 13px;
}

div.testimonial-contents div.testimonial-author
{
    margin-top:10px;
    font-style:normal;
    font-size: 14px;
}

div.testimonial-contents div.testimonial-author label.person-name
{
    text-align: right;
    color:#3d77b8;
    font-weight: 600;
    display: block;

}

div.testimonial-contents div.testimonial-author label.company-name
{
    text-align: right;
    color:#4b9140;
    font-weight: 600;
    display: block;
}

